.content{
  background-color: #F5F5F5;
  width:auto;
  height:auto;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 10px;
 
}
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #c6ebc1;}

#customers tr:hover {background-color: rgb(229, 252, 253);}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #27692b;
  color: white;
}
.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 80%;
}
  
.example-button-row {
    display: table-cell;
    width: 490px;
}
#topic{
    text-align:center;
}