<div class="content">
<h1><b>Disease Information</b></h1>

<div *ngFor="let disease of (diseases | async)">
 <mat-card *ngIf="ctid== disease.cattleid">
   <p class="example-label topic">Date :  </p>  <p  class="example-row">{{ disease.date }}</p>  <br>
   <p class="example-label topic"> Clinical signs : </p>  <p  class="example-row">{{ disease.clinicalSigns }}</p>  <br>
   <p class="example-label topic">Type of clinical signs :</p>  <p  class="example-row">{{ disease.typeOfClinicalSigns }}</p>  <br>
   <p class="example-label topic"> Diagnosis : </p>  <p  class="example-row">{{ disease.diagnosis }}</p>  <br>
   <p class="example-label topic"> Treatments :</p>  <p  class="example-row">{{ disease.treatment }}</p>  <br>
   <p class="example-label topic"> Remarks :</p>  <p  class="example-row">{{ disease.remarks }} </p> <br>
 </mat-card>
 <p></p>
</div>
</div>