.content{
  background-color: #F5F5F5;
  width:auto;
  height:100%;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.example-full-width {
    width: 100%;
  }
  .btnsave{
  
    color: whitesmoke;
    border-radius: 30px;
    margin-left: 50px;
    margin-right: 60px;
    margin-top: 10px;
    font-size: medium;
    font-weight: bold;
    text-transform: none;
    width: 80%;
}
.error-message{
  margin-left: 20px;
  color: red;
}
.example-label {
  display: table-cell;
  font-size: 14px;
}

.example-button-row {
  display: table-cell;
 
}
