<div class="content">
<h1><b>Change Password</b></h1>

<form [formGroup]="changePasswordForm">
<mat-form-field floatLabel="never" class="example-full-width ">
    <input matInput  placeholder="Old Password" type="password"  formControlName="oldPassword" animated="true" > 
</mat-form-field>
<!--mat-icon class="example-button-row"  (click)="myFunction()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon-->  
<mat-error *ngIf="changePasswordForm.hasError('required','oldPassword')">
    Please enter your old password
</mat-error>
<mat-form-field floatLabel="never" class="example-full-width ">
    <input matInput type="password" placeholder="New Password"   animated="true" formControlName="password">
</mat-form-field>
<!--mat-icon class="example-button-row"  (click)="newpwdHide()">{{newpwdhide ? 'visibility_off' : 'visibility'}}</mat-icon-->  
<mat-error *ngIf="changePasswordForm.hasError('required','password')">
    Please enter your new password
</mat-error>
<mat-error *ngIf="changePasswordForm.get('password').hasError('minlength')">
    Password with less than 6 characters.
</mat-error>
<mat-error *ngIf="changePasswordForm.get('password').hasError('maxlength')">
    Password with more than 24 characters.
</mat-error>
<mat-error *ngIf="changePasswordForm.get('password').hasError('pattern')">
    New Password must contain numbers, uppercase and lowercase characters.
</mat-error>
<mat-form-field floatLabel="never" class="example-full-width">
    <input matInput type="password" placeholder="Re Enter New Password"  animated="true" formControlName="confirmPassword" >
</mat-form-field>
<!--mat-error *ngIf="changePasswordForm.hasError('required', 'confirmPassword')">
    Please Re-Enter your newpassword
</mat-error-->
<mat-error *ngIf="changePasswordForm.hasError('notSame')">
    Passwords do not match
</mat-error>  
<button  color="primary" (click)="updatePassword()" class="btnsave" [disabled]="!changePasswordForm.valid" mat-raised-button type="submit">Save</button>
</form>
</div>