
<mat-toolbar class="tbar">
    <mat-toolbar-row>
  
      <span class="topic">VETCARE DASHBOARD</span>
  
      <!-- <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <div fxLayout="row" fxLayoutGap="20px">
            <span class="redirect" routerLink="/register-user"> Sign Up</span>
        </div>
      </div> -->
    </mat-toolbar-row>
</mat-toolbar>

<div class="content">
    <img src="assets/image/404.gif" alt="404 image" class="bgImg"/>
    <div class="center">
      <button mat-raised-button color="primary"  (click)= goHome()>Home</button>
    </div>
    
</div>
